.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  }
  
  .card-item {
    text-decoration: none;
    color: darkblue;
  }
  
  .card-item:hover {
    color: blue;
  }
  